$black: #000;
$white: #fff;
$neon-green: #39ff14;
$sidebar-background-color: #50c6e9;
$header-background-color: linear-gradient(268.37deg, #494D58 49.57%, #00B2FF 104.59%);
$primaryColor: #08A8EE;
$secondaryColor: #50D9FF;
$fontRegular: 'Lato regular';
$fontBold: 'Lato bold';
$textPrimary: #4A4A4A;
$colorGrayShade: #555555;
$colorGrayShade_1: #50c6e9;
$boxShadowColor: 0 4px 6px grey;
$backgroundColor: #1588AA;
$scrollColor: #babac0;
$layoutBgColor: #f9f8f7;
$filterBorderColor: #ccc;



