<div class="side-menu-wrapper">
  <div class="menu-item">
    <ul class="nav">
      <li class="nav-item">
        <a id="home" class="nav-link" aria-current="page" routerLinkActive="active" ariaCurrentWhenActive="page"
          routerLink="/home">
          <i class="fa fa-home"></i>
          <span class="menu-home">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="games" class="nav-link" aria-current="page" routerLinkActive="active" ariaCurrentWhenActive="page"
          routerLink="/games">
          <i class="fa fa-game-console-handheld"></i>
          <span class="menu-game">Games</span>
        </a>
      </li>

    </ul>
  </div>
</div>