@import "@app/colors";
@import "@app/mixins";

.app-home {
	&__json-data-container {
		background-color: $black;
		color: $white;

		@include breakpoint("xsmall") {
			color: $neon-green;
		}
	}
}

.no-results {
	text-align: center;
	margin-top: 30px;
}